In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("adult.data.csv")
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [3]:
race_count=pd.Series(dtype="float64")
races=df["race"]
for race in races:
  race_count[race]=race_count.get(race,0)+1
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [4]:
men_age_sum=0
for i in range(0,len(df["sex"])):
  if df["sex"][i]=="Male":
    men_age_sum+=df["age"][i]
average_age_men=men_age_sum/len(df[df['sex'] == 'Male'])
type(int(average_age_men))

int

In [5]:
bachelor_count=len(df[df["education"]=="Doctorate"])
total_population=len(df["sex"])
percentage_bachelors=bachelor_count/total_population
float('{0:.3g}'.format(percentage_bachelors*100))
bachelor_count

413

In [6]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
high_ed_pop=len(higher_education["education"])
low_ed_pop=len(lower_education["education"])

In [7]:
higher_education_rich=higher_education[higher_education["salary"].isin([">50K"])]
higher_education_rich=float('{0:.3g}'.format(len(higher_education_rich["salary"])/high_ed_pop*100))
lower_education_rich=lower_education[lower_education["salary"].isin([">50K"])]
lower_education_rich=float('{0:.3g}'.format(len(lower_education_rich["salary"])/low_ed_pop*100))

higher_education_rich,lower_education_rich

(46.5, 17.4)

In [8]:
df

       age         workclass  fnlwgt  ... hours-per-week  native-country salary
0       39         State-gov   77516  ...             40   United-States  <=50K
1       50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2       38           Private  215646  ...             40   United-States  <=50K
3       53           Private  234721  ...             40   United-States  <=50K
4       28           Private  338409  ...             40            Cuba  <=50K
...    ...               ...     ...  ...            ...             ...    ...
32556   27           Private  257302  ...             38   United-States  <=50K
32557   40           Private  154374  ...             40   United-States   >50K
32558   58           Private  151910  ...             40   United-States  <=50K
32559   22           Private  201490  ...             20   United-States  <=50K
32560   52      Self-emp-inc  287927  ...             40   United-States   >50K

[32561 rows x 15 columns]

In [17]:
min_work_hours=df["hours-per-week"].min()
min_work_hours

1

In [18]:
min_hours_workers=df[df["hours-per-week"].isin([str(min)])]
num_min_workers=len(min_hours_workers.index)
rich_min_hours=len(min_hours_workers[min_hours_workers["salary"].isin([">50K"])].index)
rich_percentage=float('{0:.3g}'.format(rich_min_hours/num_min_workers*100))
num_min_workers

20

In [19]:
country_count=pd.Series(dtype="float64")
countries=df["native-country"]
for country in countries:
  country_count[country]=country_count.get(country,0)+1
country_count

rich=df[df["salary"].isin([">50K"])]
rich_count=pd.Series(dtype="float64")
rich_countries=rich["native-country"]
for country in rich_countries:
  rich_count[country]=rich_count.get(country,0)+1
rich_count

rich_country_percentages=rich_count/country_count*100
highest_earning_country=rich_country_percentages.idxmax()
highest_earning_country_percentage=float('{0:.3g}'.format(rich_country_percentages.max()))

In [20]:
india_rich=rich[rich["native-country"].isin(["India"])]
india_occupation_count=pd.Series(dtype="float64")
occupations=india_rich["occupation"]
for occupation in occupations:
  india_occupation_count[occupation]=india_occupation_count.get(occupation,0)+1
india_occupation_count
top_IN_occupation=india_occupation_count.idxmax()

In [21]:
print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64
Average age of men: 39.43354749885268
Percentage with Bachelors degrees: 0.012683885630048217%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty