In [1]:
import numpy as np
import pandas as pd

In [13]:
tpx_price=pd.read_csv("TOPIX Historical Data.csv",decimal=",")
nk400_price=pd.read_csv("JPX-Nikkei 400 Historical Data.csv",decimal=",")
tpx_price=tpx_price.rename(columns={"Price":"TPX_price"})
nk400_price=nk400_price.rename(columns={"Price":"NK400_price"})
price1=pd.Series(tpx_price["TPX_price"],dtype="float64")
price2=pd.Series(nk400_price["NK400_price"])
prices=pd.concat([price1,price2],axis=1)
prices=prices.replace(',','', regex=True)
prices=prices.astype(float)
correlation=prices["TPX_price"].corr(prices["NK400_price"])*100

In [14]:
nk=pd.read_csv("https://www.jpx.co.jp/english/markets/indices/jpx-nikkei400/tvdivq00000031dd-att/jpx_nikkei_index_400_weight_en.csv")
nk_df=pd.DataFrame(nk)
nk_df=nk_df.rename(columns={"Issue":"Nk400"})
nk_df

                                                  Date  ... Component Weight (JPX-Nikkei 400)
0                                           2021/03/31  ...                           0.0325%
1                                           2021/03/31  ...                           0.0270%
2                                           2021/03/31  ...                           0.1829%
3                                           2021/03/31  ...                           0.0358%
4                                           2021/03/31  ...                           0.0116%
..                                                 ...  ...                               ...
395                                         2021/03/31  ...                           0.1923%
396                                         2021/03/31  ...                           0.5623%
397                                         2021/03/31  ...                           1.8373%
398                                         2021/03/31  ...                           0.0727%
399  This material is a copyrightable work of Nikke...  ...                               NaN

[400 rows x 5 columns]

In [15]:
tpx=pd.read_excel("TOPIX_weight_en.xlsx")
tpx_df=pd.DataFrame(tpx)
tpx_clean=tpx_df.copy(deep=False)
tpx_clean=tpx_clean.drop([2190,2191,2192,2193,2194,2195,2196], axis=0)
tpx_clean=tpx_clean.rename(columns={"Issue":"Tpx"})
tpx_clean

          Date  ... Issue to which the liquidity factor is applied
0     20210129  ...                                            NaN
1     20210129  ...                                            NaN
2     20210129  ...                                            NaN
3     20210129  ...                                            NaN
4     20210129  ...                                              â—‹
...        ...  ...                                            ...
2185  20210129  ...                                            NaN
2186  20210129  ...                                              â—‹
2187  20210129  ...                                            NaN
2188  20210129  ...                                            NaN
2189  20210129  ...                                            NaN

[2190 rows x 7 columns]

In [16]:
tpx_comp=tpx_clean["Tpx"].str.upper()
tpx_comp

0                 KYOKUYO CO.,LTD.
1        NIPPON SUISAN KAISHA,LTD.
2       MARUHA NICHIRO CORPORATION
3               HOHSUI CORPORATION
4        YUKIGUNI MAITAKE CO.,LTD.
                   ...
2185            GECOSS CORPORATION
2186             YAMAZAWA CO.,LTD.
2187            YAMAYA CORPORATION
2188               GLOSEL CO.,LTD.
2189              BELLUNA CO.,LTD.
Name: Tpx, Length: 2190, dtype: object

In [17]:
nk_comp=nk_df["Nk400"]
nk_comp

0        NIPPON SUISAN KAISHA, LTD.
1              MARUHA NICHIRO CORP.
2                       INPEX CORP.
3                 HAZAMA ANDO CORP.
4      TOKYU CONSTRUCTION CO., LTD.
                   ...
395               MISUMI GROUP INC.
396        FAST RETAILING CO., LTD.
397            SOFTBANK GROUP CORP.
398               SUNDRUG CO., LTD.
399                             NaN
Name: Nk400, Length: 400, dtype: object

In [18]:
comparison=pd.concat([tpx_comp,nk_comp],ignore_index=True,axis=1)
comparison=comparison.astype({0:"str",1:"str"})
comparison

                               0                             1
0               KYOKUYO CO.,LTD.    NIPPON SUISAN KAISHA, LTD.
1      NIPPON SUISAN KAISHA,LTD.          MARUHA NICHIRO CORP.
2     MARUHA NICHIRO CORPORATION                   INPEX CORP.
3             HOHSUI CORPORATION             HAZAMA ANDO CORP.
4      YUKIGUNI MAITAKE CO.,LTD.  TOKYU CONSTRUCTION CO., LTD.
...                          ...                           ...
2185          GECOSS CORPORATION                           nan
2186           YAMAZAWA CO.,LTD.                           nan
2187          YAMAYA CORPORATION                           nan
2188             GLOSEL CO.,LTD.                           nan
2189            BELLUNA CO.,LTD.                           nan

[2190 rows x 2 columns]

In [19]:
intersect=np.intersect1d(comparison[0],comparison[1])
str(len(intersect))+" companies are shared by the Nikkei 400 and TOPIX, with a "+str(correlation)+"% correlation as a result."

'44 companies are shred by the Nikkei 400 and TOPIX, with a 99.67910788074963% correlation as a result.'